* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: "Trirong", serif;

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    margin-top: 5rem;
}
nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 2rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    cursor: pointer;
    color: rgb(191, 224, 213);
    font-size: 1.1rem;
}
/* .sticky{
    position:fixed ;
    top: 0;
    width: 100% ;
} */

.left {
    font-size: 2.5rem;
    margin: 5.3rem -25rem 9.2rem 10.9rem;
    font-family: cursive;
}
.rigth{
    margin-top: 5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 15rem 0;
}

.firstSection>div {
    width: 33%;
}

.leftSection {
    font-size: 2.4rem;
    margin: 2rem 6rem;
    /* background-color: rgb(200, 28, 28); */
}

.rigthSection {
    width: 80%;
    /* background-color: red; */
}

.firstSection-img {
    width: 90%;
    border-radius: 5rem;
}

.hari {
    color: rgb(154, 66, 221);
}

#element {
    color: rgb(154, 66, 221);
}


.card{
    display: flex;
     max-width: 23rem;
    justify-items:auto;
    margin: 0rem 0rem -1rem 10rem ;

 
}

.card-img-1{
    width: 100%;
    border-radius: 0.5rem;
    height: 80%;
    margin-left: -5rem;   
    
}
.card-img-2{
    width: 75%;
    padding: 2.3rem;
    border-radius: 3.8rem;
    height: 18.6rem;
    display: block;
    box-sizing: border-box;
    margin-left: 5rem;
    
}
.card-img-3{
    width: 82%;
    padding: 0.5rem;
    border-radius: 3.5rem;
    height: 17rem;
    margin-left: 5rem;

    
}
.card-img-4{
    width: 66%;
    padding: 2.0rem;
    border-radius: 3.5rem;
    height: 15.8rem;
    margin-left: 5rem;

    
}


.img-heading{
    display: flex;
 
}
.a-1{
    color: white;
    margin-left: 7rem;
    text-decoration: none;


}
.a-2{
    color: white;
    margin-left: 10.4rem;
    text-decoration: none;


}
.a-3{
    color: white;
    margin-left: 15rem;
    text-decoration: none;


}
.a-4{
    color: white;
    margin-left: 16rem;
    text-decoration: none;


}
.a-1:hover , .a-2:hover , .a-3:hover ,.a-4:hover{
    color: rgb(202, 218, 232);

}


.footer-content {
    margin: 3rem 0rem 0rem 0rem;
    display: flex;


}

p {
    margin: 0.9rem 7.4rem 0rem 0rem;
}

.contact-list {
    margin-top: .1rem;
    text-decoration: dashed;
}

.contact-list:hover {
    cursor: pointer;
    color: aquamarine;
}

.hr-middile {
    margin-top: 22rem;
}

.con-img {
    width: 1.7rem;
    height: 1.7rem;
    margin: 0rem 0rem -2.2rem 6.8rem;
    border-radius: 0.5rem;

}

.add-img {
    width: 2.5rem;
    height: 1.7rem;
    margin: 0rem 0rem -2.3rem 4.2rem;
    border-radius: 0.5rem;

}

.abt-img {
    width: 2.2rem;
    height: 1.9rem;
    margin: 0rem 0rem -2.5rem 3.9rem;
    border-radius: 0.5rem;

}

footer {
    background-color: rgb(21, 30, 36);
    height: 29rem;
    width: 100%;
}

.footer {
    justify-content: space-evenly;
}

.footer-rigths {
    text-align: center;
    margin: 2.4rem 2.0rem 2.0rem ;
    color: rgb(58, 114, 114);
}
hr.bottom{
  margin: 2.5rem;
  border: .1rem dashed rgb(64, 58, 58);

}
